body {
    height: 100vh;
    color: #aaa;
    background: #666;
    cursor: pointer;
}

.text {
    margin: 100px auto;
    width: 200px;
    padding: 30px;
    border: 1px solid #ccc;
    z-index: 1;
}

.tooltip {
    position: absolute;
    padding: 15px;
    background: #444;
    border: 1px solid #aaa;
    z-index: 2;
    transition: all .8s ease;
    opacity: 0;
}
.tooltip.active{
    opacity: 1;
}
