@import "../style.css";



.input-area {
    display: table;
    margin: 100px auto;
    transition: all .8s ease;
}

.title {
    font-size: 80px;
    text-align: center;
    opacity: 1;
    transition: scale 1s ease, opacity 1.3s ease;
}

.title.scale {
    transform: scale(3);
    opacity: 0;
}

.button {
    padding: 10px 15px;
    color: #444;
    background: #aaa;
    border: 1px solid #444;
    border-radius: 4px;
    cursor: pointer;
    transition: all .5s ease;
}

.button:focus,
.button:hover,
.button:active{
    outline: none;
    background: #ccc;
}

.counter-input {
    text-indent: 15px;
    height: 28px;
    border: 2px solid #ccc;
}

.counter-input:focus{
    border-color: springgreen;
    outline: none;
}
